.control-group
  %label.control-label{:for => "series.title"} Series Title
  .controls
    %input{:type => "text", :id => "series.title", :name => "series[title]"}
.control-group
  %label.control-label{:for => "series.query"} Ledger Query
  .controls
    %input{:type => "text", :id => "series.query", :placeholder => "^exp and not food", :name => "series[query]"}
    %p.help-block You may use any and all options available via the ledger cli, including switches and value expressions. Please do not specify the report type or the period.
.control-group
  %label.control-label{:for => "series.field"} Value
  .controls
    %select{:id => "series.field", :name => "series[field]"}
      %option{:value => "total"} Total
      %option{:value => "accounts"} One Series per Account
.control-group
  %label.control-label{:for => "series.modifier"} Modifier function
  .controls
    %input{:type => "text", :id => "series.modifier", :placeholder => "value", :name => "series[modifier]"}
    %p
      Specifiy a Javascript expression. This expression is used to calculate the value of a data point. It receives the original value as received by ledger via the
      %code value
      parameter.
.control-group
  %label.control-label{:for => "series.formatter"} Formatter function
  .controls
    %input{:type => "text", :id => "series.formatter", :placeholder => "payee", :name => "series[formatter]"}
    %p
      Specifiy a Javascript expression. This expression is used to generate the category names. It receives the following parameters:
      %table.table.table-bordered
        %tr
          %td
            %code date
          %td The date of the posting or the start date of the timespan
        %tr
          %td
            %code value_date
          %td The end date of the timespan
        %tr
          %td
            %code payee
          %td The payee of the posting (not on reports grouped by time)          
