.hero-unit
  %h1 Create a new report
  %p Please select the report type
  %a.btn{:href => url('/editor/balance')} Balance
  %a.btn{:href => url('/editor/register')} Register
  %a.btn{:href => url('/editor/budget')} Budget
  