!!! Strict
%html
  %head
    %title= "Ledger Charts ::: #{@report_name}"
    %link{:rel => "stylesheet", :type => "text/css", :href => url("/css/bootstrap.css")}
    //%link{:rel => "stylesheet", :type => "text/css", :href => url("/css/bootstrap-responsive.css")}
    %link{:rel => "stylesheet", :type => "text/css", :href => url("/css/ledger-charts.css")}
    %script{:type => "text/javascript", :src => url("/js/jquery-1.7.1.min.js")}
    %script{:type => "text/javascript", :src => url("/js/highcharts.js")}
    %script{:type => "text/javascript", :src => url("/js/chart.js")}
    %script{:type => "text/javascript", :src => url("/js/balance.js")}
    %script{:type => "text/javascript", :src => url("/js/register.js")}
    %script{:type => "text/javascript", :src => url("/js/utility.js")}
    %script{:type => "text/javascript", :src => url("/js/time-periods.js")}
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => url("/")} Ledger Charts
          %ul.nav
            = haml :'navbar-content'
    .container
      = yield