!!! Strict
%html
  %head
    %title Test Page
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/bootstrap.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/bootstrap-responsive.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/ledger-charts.css"}
    %script{:type => "text/javascript", :src => "/js/jquery-1.7.1.min.js"}
    %script{:type => "text/javascript", :src => "/js/highcharts.js"}
    %script{:type => "text/javascript", :src => "/js/chart.js"}
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => "#"} Ledger Charts
          %ul.nav
            %li.active
              %a{:href => "#"} Cashflow
    .container
      .row
        .span8.offset2
          #chart-canvas